<footer>
  <div class="footerLeft">
    <h3><span>CO</span>made</h3>
    <img src="https://images.vexels.com/media/users/3/137481/isolated/preview/675fe44b4abcdc2333143377c3ea0e2e-mountain-label-badge-with-sun-by-vexels.png" alt="Mountain Logo">
  </div>
  <ul class='footerRight'>
    <li><a href="/store/">Home</a></li>
    <li><a href="https://hunterwallen.github.io/" target="_blank">Creator's Page</a></li>
    <li><a href="https://hunterwallen.github.io/projects.html" target="_blank">Creator's Projects</a></li>
  </ul>
</footer>
