<ul class='nav'>
  <% if (currentUser) { %>
  <li class='nameBar'>Welcome <%=currentUser.username%></li>
  <% } %>
  <li><a href="/store/">Home</a></li>
  <%if (!currentUser){ %>
  <li><a href="/sessions/new">Login</a></li>
  <li><a href="/users/new">Create An Account</a></li>
  <% } else { %>
    <li><a href="/store/new">Add New Product</a></li>
    <li class='logoutBar'>
      <form class="logoutForm" action="/sessions/?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class='logoutBtn'>
      </form>
    </li>
  <% } %>

</ul>
